@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    font-family: "Roboto", sans-serif;
    outline: 1px solid red;
}

body {
    margin: 0%;
}

/* All CSS for the Navbar division */

.navbar {
    display: flex;
    background-color: #1f2937;
    align-items: center;
    align-content: center;
    padding-left: 40px;
    padding-right: 30px;
    color: #f2faf8;
    height: 70px;
}

.header-logo {
    font-size: 24px;
    justify-content: left;
    
}

.navlinks {
    flex: 1 1 auto;
    display: flex;
    justify-content: right;
    margin: 20px;
    gap: 30px;
}

/* All CSS for the Hero page division */

.hero {
    background-color: #1f2937;
    color: #f2faf8;
    height: 613px;
    display: flex;
    align-items: center;
    padding: 50px;
    padding-left: 100px;
}

.herotext {
    width: 500px;
    flex: 4 1 auto;
    padding-bottom: 150px;
}

.herotext strong {
    font-size: 60px;
    font-weight: 900;
}
.herotext p {
    font-size: 24px;
}

.herotext button {
    color: #f2faf8;
    background-color: #3882f6;
    font-size: 24px;
    font-weight: bold;
    padding: 10px 50px;
    border: 3px;
    border-radius: 5px 50px;
}

img {
    flex: 1 1 auto;
    display: flex;
    justify-content: right;
    border-radius: 15px;
    margin-left: 40px;
}

/* All CSS for the Navbar division */

.card-stack-section {
    margin: 50px;
    margin-bottom: 100px;
}

.inline-card-stack {
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 30px;
}

.cardstitle {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    text-align: center;
    margin-bottom: 50px;
}

.inline-card-stack .card {
    width: 200px;
    height: 300px;
}

.inline-card-stack .card .image {
    width: 200px;
    height: 200px;
    outline: 3px solid #3882f6;
    border-radius: 15px;
    flex: 1 1 auto;
}

/* All CSS for the Inspiring-quote division */

.inspiring-quote {
    padding: 100px;
    background-color: #E5E7EBff;
}

.mainquote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    margin: 0px;
}

.quotecredit {
    font-weight: 900;
    display: flex;
    flex-direction: row-reverse;
    margin: 0px;
}